<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="hello">
      <ion-icon aria-hidden="true" name="planet-outline"></ion-icon>
      <ion-label>Hello!</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="projects">
      <ion-icon aria-hidden="true" name="bookmark-outline"></ion-icon>
      <ion-label>Projects</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="personal">
      <ion-icon aria-hidden="true" name="add-outline"></ion-icon>
      <ion-label>Personal</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
