<ion-header collapse="condense">
  <div class="title">
    <p class="gradient-word">Gabriela Oliveira</p>
    <h1>front-end Developer</h1>
  </div>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
    <div class="hello-img">
      <h1>Hello!</h1>
      <img src="assets/img/GabrielaOliveira.png" alt="yesgabio">
    </div>
  <p>Sou formada em Administração e pós graduada em Gestão Estratégica de Serviços. Iniciei os estudos na área de tecnologia e me apaixonei por programação, iniciei uma transição de carreira aos trinta anos e hoje estou iniciando a Pós-Graduação em Desenvolvimento Full Stack, buscando aprender cada vez mais e crescer nesta área que me encantou.</p>
  <br>
  <p>I graduated in Business Administration and have a MBA in Strategic Service Management. I began studying technology and fell in love with Development, changing my career path at 30 years old. Right now I am studying postgraduate in full stack development but I am always looking to learn and develop myself.</p>
  <br>
  <p>Acesse os menus para conhecer meus projetos e me conhecer melhor!</p>
  <div class="ass">
    <img src="assets/img/ass.png" alt="yesgabio">
  </div>
</ion-content>
